<!DOCTYPE html>
<head>
	<meta charset="utf-8"/>
  	<title>user page</title>
	<script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/d3.js"></script>
    <style>
        body{
            font:10px arial;
        }
        .axis path,
        .axis line{
            fill:none;
            stroke:#000;
        }

        .sum.axis line{
			display: none;
		}

		.sum.axis path{
			display: none;
		}

	</style>
</head>
<body>
	<h1>PunchCard</h1>
    <script>
		window.onload = function(){
			// d3 settings
			var margin = {
				top:10,
				right:30,
				bottom: 10,
				left:15
			};

			var width = 900 - margin.left - margin.right;
			var height = 800 - margin.top - margin.bottom;

			var svg = d3.select("body").append("svg")
					.attr({
						"width": width+margin.left+margin.right,
						"height": height+margin.top+margin.bottom
					})
					.append("g")
					.attr("transform","translate("+margin.left+","+margin.right+")");

			var xScale = d3.scale.ordinal()
					.rangeRoundBands([50,width],0.1);

			var xAxis = d3.svg.axis()
					.scale(xScale)
					.orient("bottom")
					.ticks(d3.time.hour)
					.tickFormat(function(d){
						// convert it to date, time(xxx)
						var time = d3.time.format("%H").parse;
						// then use formatter
						var formatter = d3.time.format("%I%p");
						return formatter(time(d.toString()));
					})
					.outerTickSize(0) //remove the tick on both side

			/**
			 * Handle Request Param
			 */

            var paramsArr = $(location).attr('pathname');
            paramsArr = paramsArr.split('/');
            paramsArr.shift();
			paramsArr.pop()
			var params = '?username=' + paramsArr[1] + '&repo=' + paramsArr[2];

			d3.json('http://localhost:3030/punchcard'+params,function(err,json){
				if(err) throw err;
				//console.log(json);
				var data = d3.nest()
						.key(function(d){
							return d[0]
						}).entries(json)

				xScale.domain(d3.range(0,24));
				// now data is grouped by day
				var dayGroup = svg.selectAll(".day")
						.data(data)
						.enter()
                        .append("g")
						.attr({
							width: width,
							height: 90
						})
						.attr("transform", function(d,i){
							return "translate(0,"+ i*100 + ")";
						});

				// TODO:how to add a line for each .day DOM?
				dayGroup.append("text")
						.text(function(d,i){
                            var days=['Sunday', 'Monday', 'Tuesday', 'Wednesday',
                                'Thursday', 'Friday', 'Saturday'];

							return days[i];
						})
						.attr({
							y: 45,
							x: 0
						})


				dayGroup.selectAll(".dot")
						.data(function(d){
							return d.values;
						})
						.enter()
						.append("circle")
						.attr({
							"r": function(d){
								return d[2]*5;
							},
							"cx": function(d){
								return xScale(d[1]);
							},
							"cy": function(d){
								return 30;
							}
						})

                 dayGroup.append("g")
                 .attr("class","x axis")
                 .attr("transform", "translate(0,80)")
                 .call(xAxis);


                 /**
                 * move the tick into the chart
                 */
                 dayGroup.selectAll(".tick line")
						.attr("y2", function(i){
							if(i%2 == 0){
								return -15;
							}else {
								return -8;
							}
						})

				/**
				 * remove text:
				 * http://stackoverflow.com/questions/11691525/create-d3-js-axes-without-numbering
				 */
				dayGroup.selectAll(".tick text")
						.style("display","none")


				/**
				 * add the xaxis at the bottom
				 * use style to remove lines and path in ticker
				 */
                svg.append("g")
                        .attr("class","x sum axis")
                        .attr("transform", "translate(0,"+(height-100)+")")
                        .call(xAxis);




			})

		};
	</script>

</body>
