<!DOCTYPE html>
<head>
	<meta charset="utf-8"/>
  <title>user page</title>
	<script src="/js/lib/jquery.min.js"></script>
  <script src="/js/lib/d3.js"></script>
  <style>

	</style>
</head>
<body>
	<select id="btn">
		<option value="fork">fork</option>
		<option value="stargazer">stargazer</option>
		<option value="contributor">contributor</option>
		<option value="open_issue">open_issue</option>
	</select>

	<script>
	window.onload = function(){
		var margin = {
				top:30,
				right:30,
				bottom:50,
				left:30
		};

		var width = 960 - margin.left - margin.right;
		var height = 600 - margin.top - margin.bottom;

		var svg = d3.select("body").append("svg")
						.attr({
							width: width+margin.left+margin.right,
							height: height+margin.top+margin.bottom
						})
					.append("g")
						.attr("transform","translate("+margin.left+","+margin.right+")");

		// scales
		var xScale = d3.scale.ordinal()
								.rangeRoundBands([0,width], .1);

		var yScale = d3.scale.linear()
								.range([height,0]);

		// axis
		var xAxis = d3.svg.axis()
								.scale(xScale)
								.orient("bottom");

		var yAxis = d3.svg.axis()
								.scale(yScale)
								.orient("left");

		$.get("http://localhost:3030/getrepos", function(data){
				console.log(data);
		})
	}

	</script>
</body>
