<!DOCTYPE html>
<head>
	<meta charset="utf-8"/>
  	<title>user page</title>
	<script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/d3.js"></script>
    <style>

	</style>
</head>
<body>
	<h1>select one repo</h1>
    <select name="repo" id="selectRepo"></select>
    <a href="#" id="btn">Go</a>
		<a href="#" id="repo">Populatiry</a>
    <script>
		window.onload = function(){
			$("#repo").attr("href", $(location).attr("href")+'/repos/popularity');
			//TODO: save result
			$.get("http://localhost:3030/getrepos", function(data){
				// NOTE: Only use repos created by user
				data.map(function(d){
					if(!d.fork){
						$("#selectRepo").append("<option value="+ d.name +">"+ d.name+"</option>")
					}
				});

				$("#selectRepo").change(function(e){
					var _this = $(this);
					var repo = _this.val();
					$("#btn").attr("href", $(location).attr('href') +'/'+repo)
				});
			})
		}
	</script>
</body>
